/*
Theme Name: MX Child
Template: mx
*/

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/open-sans/opensans-light-webfont.eot);
    src: url(fonts/open-sans/opensans-light-webfont.woff) format('woff'),
    url(fonts/open-sans/opensans-light-webfont.woff2) format('woff2'),
    url(fonts/open-sans/opensans-light-webfont.svg) format('svg'),
    url(fonts/open-sans/opensans-light-webfont.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/open-sans/opensans-regular-webfont.eot);
    src: url(fonts/open-sans/opensans-regular-webfont.woff) format('woff'),
    url(fonts/open-sans/opensans-regular-webfont.woff2) format('woff2'),
    url(fonts/open-sans/opensans-regular-webfont.svg) format('svg'),
    url(fonts/open-sans/opensans-regular-webfont.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url(fonts/open-sans/opensans-semibold-webfont.eot);
    src: url(fonts/open-sans/opensans-semibold-webfont.woff) format('woff'),
    url(fonts/open-sans/opensans-semibold-webfont.woff2) format('woff2'),
    url(fonts/open-sans/opensans-semibold-webfont.svg) format('svg'),
    url(fonts/open-sans/opensans-semibold-webfont.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/open-sans/opensans-bold-webfont.eot);
    src: url(fonts/open-sans/opensans-bold-webfont.woff) format('woff'),
    url(fonts/open-sans/opensans-bold-webfont.woff2) format('woff2'),
    url(fonts/open-sans/opensans-bold-webfont.svg) format('svg'),
    url(fonts/open-sans/opensans-bold-webfont.ttf) format('truetype');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(fonts/iconfont/MaterialIcons-Regular.woff) format('woff2'),
    url(fonts/iconfont/MaterialIcons-Regular.woff2) format('woff'),
    url(fonts/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

#main, #page-content-wrap, #main + p {
    background-color: #F6F8F9 !important;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

b, strong {
    font-weight: 600;
}

.btn {
    font-size: 18px;
}

#site-header.site-header-style-2 {
    border-bottom: none;
}

#main {
    padding-top: 0;
}

.mx-header-right.mx-header-right-nav {
    float: left;
    width: calc(100% - 120px);
}

.site-header-style-2.fixed-enabled .custom-height {
    padding-top: 15px;
}

.site-header-style-2.fixed-enabled .mx-header-right.mx-header-right-nav {
    width: calc(100% - 160px);
}

.custom-height {
    height: 80px;
    padding-top: 5px;
}

.site-header-style-2 .mx-nav-menu > li > a, .light-grey {
    color: #95a1aa;
}

.site-header-style-2 .mx-search-container > ul > li > a.wc-login-in.log-in,
.site-header-style-2 .mx-search-container > ul > li > a.log-in {
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #d67c2e;
    padding: 5px 25px;
    background-color: #D67C2F;
}

.site-header-style-2 .mx-search-container.have-content {
    margin-left: 0;
}

.site-header-style-2 .mx-search-container > ul > li > a.wc-login-in.log-in:hover,
.site-header-style-2 .mx-search-container > ul > li > a.wc-login-in.log-in:focus,
.site-header-style-2 .mx-search-container > ul > li > a.wc-login-in.log-in:visited {
    border: 1px solid #889C3B;
    background-color: #889C3B;
    color: #ffffff;
}

.site-header-style-2 .mx-search-container.have-content {
    border: none;
}

.header-nav-mobile-a {
    color: #666666;
    text-transform: uppercase;
    line-height: 28px;

}

.mobile-menu-close-btn.header-nav-mobile {
    position: static;
    width: auto;
    height: auto;
    background: transparent;
    font-size: inherit;
    padding: 0;
    margin: 0 0 10px 25px;

}

.header-nav-mobile > li > a {
    color: #666666;
    line-height: 28px;
}

.header-nav-mobile > li > a:hover,
.header-nav-mobile > li > a:focus,
.header-nav-mobile > li > a:hover,
.header-nav-mobile-a:hover,
.header-nav-mobile-a:focus,
.header-nav-mobile-a:active {
    color: #889c3b;
}

.header-fixed {
    top: 0;
}

.placeholder {
    height: 55px;
}

.shadow-hard {
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.reset-margin, #signUpBetaFertiliser + p {
    margin: 0;
}

.btn-trial {
    background-color: #aebbc4;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 45px;
    border-radius: 3px;
    margin-right: 20px;
}

.btn-buy {
    background-color: #ffa726;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 45px;
    border-radius: 3px;
    margin-left: 20px;

}

.btn-trial.german,
.btn-buy.german
 {
    padding: 10px 15px;
    min-width: 200px;
    margin: 10px 0;
}

.btn a {
    color: #ffffff;
}

.contacts-block {
    width: 250px;
    margin: 20px auto;
}

.contacts-block > p > i {
    margin-right: 15px;
}

.btn-action-select.contact {
    background-color: #d67c2e;
    margin-bottom: 20px
}

.btn.btn-action-select,
.btn.btn-action-select:focus,
.btn.btn-action-select:hover {
color:#ffffff;
}




.green-bg.contact {
    border-radius: 4px;
}

.btn a:hover,
.btn a:focus,
.btn a:visited {
    color: #ffffff;
}

.white-circle {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 auto 0;
}

.margin-top-45 {
    margin-top: 45px;
}

.margin-top-45.german {
   margin-top:63px;
}
.green-icon {
    color: #889c3b;
    font-size: 3em;
    margin-top: 8px
}

.green-circle {
    width: 50px;
    height: 50px;
    background-color: #889c3b;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.white-icon {
    color: #ffffff;
    font-size: 2em;
    margin-top: 10px
}

.green-bg {
    background-color: #889c3b;
}

.arrow_box {
    position: relative;
    background: #889c3b;
    border: 1px solid #889c3b;
}

.arrow_box:after, .arrow_box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-top-color: #889c3b;
    border-width: 20px;
    margin-left: -20px;
}

.arrow_box:before {
    border-top-color: #889c3b;
    border-width: 21px;
    margin-left: -21px;
}

.header-bg {
    /*margin-top: 80px;*/
    background-image: url('../../uploads/2015/10/sunset-pic.jpg');
    background-size: cover;
}

#header-wrap,
.margin-bottom-big {
    margin-bottom: 80px;
}

.white-text {
    color: #ffffff;
}

.green-text {
    color: #889c3b;
}

.opposite-text, a.opposite-text:visited {
    color: #d67c2e;
}

.opposite-bg {
    background-color: #d67c2e;
    border-color: #d67c2e;
}

.arrow_box.opposite-bg:after, .arrow_box.opposite-bg:before {
    border-top-color: #d67c2e;
}

a.opposite-text:hover,
a.opposite-text:focus {
    color: #d67c2e;
    text-decoration: underline;
}

.main-color {
    color: #3d4247;
}

.dark-grey-color {
    color: #5d656e;
}

.normal-weight {
    font-weight: 400;
}

.bold-weight {
    font-weight: 700;
}

.light-weight {
#  font-weight: 300;
  font-weight: 400;
}

.max-light-weight {
  font-weight: 300;
}

.text-up {
    text-transform: uppercase;
}

.font-large {
    font-size: 40px;
}

.font-middle {
    font-size: 24px;
    line-height: 32px;
}

.font-little {
    font-size: 18px;
    line-height: 24px;
}

.font-little-wide {
    font-size: 18px;
    line-height: 28px;
}

.font-32 {
    font-size: 32px;
    margin-bottom: 10px;
}

.font-16 {
    font-size: 16px;
}

.font-35 {
    font-size: 35px;
    margin-left: -8px;
}

.underline {
    border-bottom: 1px solid #ffffff;
}

.font-22 {
    font-size: 22px;
    line-height: 32px;
}

.font-20 {
    font-size: 20px;
}

.padding-both-30 {
    padding: 30px 0;
}

.line-26 {
    line-height: 26px;
}

.margin-both-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-both-20 {
    margin: 20px 5px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-bot-30 {
    margin-bottom: 30px;
}

.screen-decs {
    margin-top: 20px;
    padding: 0 30px;
}

.plus-block {
    margin-top: 55px;
    padding: 30px 20px;
    background-color: rgba(136, 156, 59, 0.12);
    border-radius: 6px;
}

.grey-plus {
    width: 50px;
    height: 50px;
    background-color: #aebbc4;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.grey-plus-color {
    color: #ffffff;
    font-size: 50px;
}

.white-plus {
    position: absolute;
    left: 5px;
    top: -2px
}

.vertical-divider-20 {
    position: absolute;
    left: 50%;
    top: 5px;
    height: 20px;
    border-left: 1px solid #e0e0e0;
}

.vertical-divider-40 {
    position: absolute;
    left: 50%;
    height: 20px;
    bottom: -35px;
    border-left: 1px solid #e0e0e0;
}

.all-devices-bg {
    background-image: radial-gradient(49% 108%, #FFFFFF 50%, #D9DBCE 100%);
}

.list-device {
    position: relative;
    bottom: 12px;
    left: 18px;
}

.features-block {
    background-color: rgba(136, 156, 59, 0.12);
    padding: 30px;
    margin: 55px auto 0;
    min-height: 310px;
    border-radius: 4px;
    max-width: 300px;
}

.features-block.german {
   min-height: 365px;
}
.features-block p, .features-block a {
    font-size: 16px;
    line-height: 28px;
}

.features-icon {
    font-size: 2em;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.best-price {
    background-image: url('../../uploads/2015/10/farm-pic.jpg');
    background-size: cover;
    margin: 0;
}

.euro-pic {
    background-image: url('../../uploads/2015/10/euro-pic.png');
    width: 78px;
    height: 78px;
    margin: 0;
    display: inline-block;
}

.plus-pic {
    background-image: url('../../uploads/2015/10/plus-pic.png');
    width: 30px;
    height: 30px;
    margin: 20px;
    display: inline-block;
}

.like-pic {
    background-image: url('../../uploads/2015/10/thumbs-pic.png');
    height: 77px;
    width: 77px;
    margin: 0;
    display: inline-block;
}

.shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
}

.price-bg {
    background-color: #e8ece1;
}

.price-block {
    margin: 50px auto;
    padding: 20px 30px;
    color: #ffffff;
    border-radius: 6px;
    min-height: 465px;
    max-width: 300px;
}

.price-block.app {
    margin: 50px auto;
    padding: 10px;
}

.price-block.modal-price {
    margin: 20px 5px;
}

.price-label {
    font-size: 60px;
    margin: 0;
}

.free-block,
.wpcf7 .wpcf7-submit.free-block {
    background-color: #889c3b;
}

.middle-price-block,
.wpcf7 .wpcf7-submit.middle-price-block {
    background-color: #d67c2e;
}

.high-price-block,
.wpcf7 .wpcf7-submit.high-price-block {
    background-color: #4a90e2;
}

.note-text, a.note-text:focus, a.note-text:hover, a.note-text:visited {
    color: rgba(255, 255, 255, 0.72);
}

a.note-text {
    text-decoration: underline;
}

.btn-action-select {
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 2px;
    padding: 10px 25px;
    text-transform: uppercase;
    margin: 20px auto 0;
    display: block;
}

.abs-pos {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 70px;
}

.abs-pos.modal-price {
    bottom: 40px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.large-text {
    font-size: 40px;
}

.underline-dark {
    color: #373d48;
    border-bottom: 1px solid #e0e0e0;
}

.image-people {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: grey;
    margin: 30px 0;
}

.review {
    font-size: 15px;
    line-height: 24px;
    color: #3d4247;
}

.carousel-inner {
    margin: 50px 0;
}

/*START carousel-setting*/

a.left.carousel-control, a.right.carousel-control {
    background-image: none;
}

.controls {
    margin-top: 50%;
    color: grey;
    text-shadow: none;
    font-size: 50px;
    font-weight: 300;
}

/*END carousel-setting*/

/*tractor*/

.header-fixed {
    width: 100%;
    min-height: 54px;
    position: fixed;
    z-index: 2000;
    background: rgba(255, 255, 255, 0.9);
}

.submenu {
    width: 100%;
    min-height: 54px;
    top: 80px;
    position: fixed;
    z-index: 10;
    background: rgba(255, 255, 255, 0.95);
}

.header-bg-guidance {
    background: linear-gradient(to right, #ffffff, transparent 65%), url('../../uploads/2015/10/viedo-pic.jpg');
    background-size: cover;
}

.trial-price-block {
    background-color: #95a1aa;
}

.btn-period-select,
.btn.btn-period-select:hover,
.btn.btn-period-select:focus {
    margin-top: 20px;
    color: #95a1aa;
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid #95a1aa;
    border-radius: 50px;
}

.btn-period-select.active,
.btn-period-select.active:hover,
.btn-period-select.active:focus {
    color: #ffffff;
    background-color: #95a1aa;
}

.simple-p {
    font-size: 16px;
    line-height: 28px;
    color: #373d48;
}

.features-p {
    font-size: 16px;
    line-height: 22px;
    color: #5d656e;
}

.grey-37 {
    color: #373d48;
}

.app-screens-block {
    min-height: 330px;
}

.nav-app-img {
    height: 187px;
    width: 292px;
    margin: 20px auto 10px;
    display: block;
}

.all-devices-bg.arrow_box {
    border-color: #d9dbce;
}

.all-devices-bg.arrow_box:before,
.all-devices-bg.arrow_box:after {
    border-top-color: #ffffff;
}

.tablet-pic {
    margin: 0px auto 35px;
    display: block;
}

.small-text-p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;
}

.grey-gradient-bg {
    /*background-color:rgba(0, 0, 0, 0.32) ;*/
    background-image: radial-gradient(49% 108%, #5b636c 50%, #4e555c 100%);
}

.antenna-pic {
    display: block;
    margin: 50px auto;
}

a.opposite-link,
a.opposite-link:hover,
a.opposite-link:focus,
a.opposite-link:visited {
    color: #ffa726;
    text-decoration: underline;
}

a.green-link,
a.green-link:hover,
a.green-link:focus,
a.green-link:visited {
    color: #889c3b;
    text-decoration: underline;
    cursor: pointer;
}

a.white-link,
a.white-link:hover,
a.white-link:focus,
a.white-link:visited {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
}

.btn-light-grey {
    background-color: #aebbc4;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 3px;
    margin: 15px auto -5px;
    display: block;
}

.img-offet {
    margin: 20px auto;
    display: block;
}

.border-block {
    border: 1px solid #eee;
    border-radius: 6px;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

.buy-btn {
    text-transform: uppercase;
    min-width: 180px;
    text-align: center;
    margin: 10px;
    padding: 10px 0;
}

.buy-btn.magyar {
min-width:200px;
}

.grey-border {
    background-color: #ffffff;
    border: 1px solid #95a1aa;
    color: #95a1aa;
}

.blue-sky, .arrow_box.blue-sky {
    background-color: #1e88e5;
    border-color: transparent;
}

.blue-sky.arrow_box:after, .blue-sky.arrow_box:before {
    border-top-color: #1e88e5;
}

.blue-text {
    color: #1e88e5;
}

.tractor-bg {
    background-image: url("../../uploads/2015/10/tractordrives-pic.jpg");
    background-size: cover;
    height: 500px;
    margin-bottom: 2px;
}

.farm-building-bg {
    background-image: url("../../uploads/2015/10/farm-pic.jpg");
    padding-top: 70px;
    background-size: cover;
    height: 500px;
    margin-bottom: 2px;
}

.easy-use-bg {
    background-image: url("../../uploads/2015/10/antennatractor-pic.jpg");
    padding-top: 50px;
    background-size: cover;
    height: 500px;
}

.euro-pic-grey {
    background-image: url('../../uploads/2015/10/euro-pic-grey.png');
    width: 78px;
    height: 78px;
    margin: 0;
    display: inline-block;
}

.like-pic-grey {
    background-image: url('../../uploads/2015/10/thumbs-pic-grey.png');
    height: 77px;
    width: 77px;
    margin: 0;
    display: inline-block;
}

.link-document {
    position: absolute;
    margin-top: -133px;
}

/* footer */

#site-footer-bottom {
    background: #889c3b;
}

/*mobile view*/

#mobile-menu {
    background: #fafafa;
}

.mobile-menu-close-btn {
    background: transparent;
    color: #3d4247;
}

.mx-nav-mobile-menu > li > a {
    color: #95a1aa;
    font-weight: 300;
}

.mx-nav-mobile-menu > li > a:hover,
.mx-nav-mobile-menu > li > a:focus,
.mx-nav-mobile-menu > li > a:active,
.mx-nav-mobile-menu > li.current-menu-item > a {
    color: #889c3b;
}

.site-header-style-2 .mx-search-container > ul > li > a,
.site-header-style-2 .mx-search-container > ul > li:hover > a {
    color: #d67c2e;
    background: transparent;
}

.icon-calc {
    opacity: 0.84;
    position: relative;
    right: 10px;
    margin: 15px 20px;
}

.half-opacity {
    opacity: 0.54;
}

.link-devices {
    text-decoration: underline;
}

.no-view {
    display: none;
}

.padding-bot-small {
    padding-bottom: 25px;
}

.padding-bot-15 {
    padding-bottom: 15px;

}


/*footer*/

#site-footer-widget,
div#site-footer-bottom,
.footer-wrap {
    border: 5px solid #899c3b;
    background-color: #899c3b;
    color: #ffffff;
}

#site-footer-widget {
    background: #899c3b !important;
    border-top: 3px solid #899c3b !important;
    border-bottom: 1px solid #899c3b !important;
}

.site-header-style-2 .mx-header-logo .logo {
    margin-top: 13px;
    padding: 7px 0;
}

.site-footer-widget .widget-title,
.site-footer-widget .widget_nav_menu ul li a,
#site-footer-bottom a {
    color: #fff;
}

.widget-title:hover {
    cursor: pointer;
}

.site-footer-widget .widget_nav_menu ul li {
    border: none;
}

svg path {
    fill: #3D434A;
}

.white-tooltip + .tooltip > .tooltip-inner {
    background-color: #ffffff;
    color: #3d4247
}

.white-tooltip + .tooltip > .tooltip-arrow {
    border-right-color: #ffffff;
}

.tooltip.fade > .tooltip-inner {
    background: #ffffff;
    color: #3d4247;
    border-radius: 5px;
}

.tooltip > .tooltip-arrow {
    border-right-color: #ffffff;
}

.list-devices {
    margin: 20px 0 20px 50px;
}

.all-padding {
    padding: 20px;
}

/*farm management*/

.header-bg-farm {
    background: url('../../uploads/2015/10/yellowtractorpic.jpg');
    background-size: cover;
}

.price-block.farm {
    padding: 20px 10px;
    margin: 50px auto;
    min-height: 410px;
}

.price-label.farm {
    margin-top: -20px;
    color: rgba(255, 255, 255, 0.75)
}

.reports-bg {
    border-top: 2px solid #ffffff;
    background-image: url("../../uploads/2015/10/business-report.jpg");
    background-size: cover;
    height: 500px;
    margin-bottom: 2px;
}

/*features*/

.img-features {
    margin: 15px auto 20px;
    display: block;
}

.same-height {
    min-height: 162px;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.features-p {
    margin-left: 45px;
}

.btn-signup-beta {
    background-color: #ffa726;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 45px;
    border-radius: 3px;
    margin: 20px 0 10px 30px;
    display: block;
}

.btn-signup-beta:hover,
.btn-signup-beta:focus,
.btn-signup-beta:visited, {
    color: #ffffff;
}

.price-block.farm.features {
    margin: 20px auto;
    min-height:440px;
}

.sign-up-form {
     position: absolute;
     bottom: 0;
     left: 0;
}


.sign-up-form form {
    margin: 20px 10px;
    font-size: 16px;
    line-height: 28px;
    color: #373d48
}

.sign-up-form form p input[type="submit"] {
    border: none;
    border-radius: 4px;
    color: #ffffff;
    padding: 5px 30px;
}

.sign-up-form form p input[type="submit"].free-block:hover,
.sign-up-form form p input[type="submit"].free-block:focus {
    background-color: #889c3b;
    color: #ffffff;
}

.btn-signup-beta {
    background-color: #ffa726;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 45px;
    border-radius: 3px;
    margin: 20px 0 10px 30px;
    display: block;
}

.txt-area {
    height: 75px;
}

.carousel-inner {
  margin:0;
}

.modal-features {
 min-height:480px;
}

h1, h2, h3 {
letter-spacing:normal;
}

@media (min-width: 1200px) {
    .container {
        width: 1024px;
    }
}

@media (max-width: 768px) {
    .grey-plus {
        top: -27px;
    }

    .vertical-divider-20 {
        top: -50px;
    }

    .plus-block {
        margin-bottom: 45px;
    }

    .mx-header-right.mx-header-right-nav {
        float: right;
    }

    .btn-trial, .btn-buy {
        padding: 10px 25px;
    }

    .underline {
        margin-bottom: 10px;
    }

    .link-document {
        margin-top: -80px;
    }

    .margin-top-45.german {
       margin:30px auto;
     }

}

.textwidget > a {
    display: inherit;
    color: #d5e0ae !important;
    font-size: 14px;
    line-height: 22px;
    padding: 3px 10px;
}

.textwidget > a > img {
    margin-bottom: 3px;
    margin-right: 10px;
}
.textwidget > a.current_language,
.textwidget > a:hover,
.textwidget > a:focus {
    color: #ffffff !important;
}

.white-link {
color:#ffffff !important;
text-decoration:none;
}


.btn-calculate {
  padding: 10px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 304px;
  margin: 0 auto 20px;
  display: block;
  color: #ffffff;
  font-weight: 300;
}

table.calc{
    line-height: 2;
}

.crop-name {
    width: 50%;
}

th.crop-name,
th.crop-number {
    padding: 5px;
}

.crop-number {
    width: 20%;
}

.table-border {
    text-align: center;
    border: solid 1px #979797;
    background-color: #fff;
}

.table-border > *, 
 .table-border > input[type="number"]:focus {
   outline: none!important;
   border: none!important;
   border-collapse: separate;
   margin: 5px;
   text-align: center;
}

.blue-btn,
.blue-btn:active,
.blue-btn:visited,
.blue-btn:focus {
    background-color: #1e88e5;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    padding: 10px;
    text-decoration: none;
}

.calc-price {
    display: block;
  margin: 0 auto;
  max-width: 220px;
  min-height: 130px;
  border-radius: 4px;
  background-color: #889c3b;
}

.calc-price.result {
    background-color: #d67c2e;
}

.calc-price p {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.calc-price h1 {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: 600;
}

.calc-price.result h1 {
    padding-top: 5px;
    margin: 0;
}

h1 span.small-text {
    font-size: 20px;
    font-weight: 400;
}

.calc-buy,
.calc-buy:active,
.calc-buy:visited,
.calc-buy:focus {
  display: block;
  text-align: center;
  color: #fff;
  margin: 20px 15px;
  padding: 10px 0;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}

.padio-point {
    position: absolute;
    margin: 10px 0 0 5px !important;
}

.radio-result {
    margin-left: 30px;
    display: inline-block; 
}

@media (max-width: 992px) and (min-width: 768px) {
    .price-block {
        margin: 50px auto;
        padding: 20px 20px;
        min-height: 520px;
    }

    .price-block.app {
        margin: 50px auto;
        padding: 20px;
        min-height: 520px;
    }

    .mx-header-right.mx-header-right-nav {
        float: right;
    }

    .abs-pos.modal-price {
        bottom: 75px;
    }

    .link-document {
        margin-top: -80px;
    }

}

.woocommerce-page ul.products li.product {
  width: 28%;
}
