[raw]
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="font-32 blue-text normal-weight text-up">Maps</h2>

            <h3 class="font-22 grey-37 normal-weight margin-bot-30 margin-top-15">Creating and managing field
                boundaries.</h3>

            <p class="features-p light-weight margin-bot-30 "><strong>Import fields.</strong>You can import your
                own fields in the .SHP format in the web version of our application. Drag and drop the available
                cadaster document.</p>

            <p id="records" class="features-p light-weight"><strong>Draw fields.</strong> You can draw the boundaries of your
                fields in eFarmer application manually using Google Maps. While working with eFarmer all
                information from your field works will be assigned to the particular field, kept in the secured
                cloud and available at any time from any device.</p>

        </div>
        <div class="col-md-6"><img class="img-features" src="../wp-content/uploads/2015/11/maps-feature.png"
                                   alt=""/></div>
    </div>

    <hr/>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-6"><img class="img-features"
                                   src="../wp-content/uploads/2015/11/record-keeping-feature.png" alt=""/></div>
        <div class="col-md-6">
            <h2 class="font-32 blue-text normal-weight text-up">RECORD KEEPING</h2>

            <h3 class="font-22 grey-37 normal-weight margin-bot-30 margin-top-15">Record keeping and field
                reports.</h3>

            <p class="features-p light-weight"><strong>Field records.</strong>You will be able to input
                following data manually while working in the field:</p>

            <ul class="features-p light-weight margin-bot-30 ">
                <li>type of operation</li>
                <li>denomination and quantity of materials used (fertilizers, pesticides, seeds, etc.)</li>
            </ul>
            <p class="features-p light-weight"><strong>Automatic tracking.</strong>The following information can
                be added automatically to the field report from the GPS tracking:</p>

            <ul class="features-p light-weight margin-bot-30 ">
                <li>type of operation</li>
                <li>area and distance covered</li>
                <li>machine used</li>
            </ul>
            <p id="guidance" class="features-p light-weight"><strong>Reports.</strong> As a result you will be able to view
                your field report (see example) and export it to PDF for your records.
                <a class="green-link" href="http://efarmer.mobi/wp-content/uploads/2015/11/FieldCardReport.pdf"
                   target="_blank">See example report.</a></p>

        </div>
    </div>

    <hr/>

</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="font-32 blue-text normal-weight text-up">FIELD GUIDANCE</h2>

            <h3 class="font-22 grey-37 normal-weight margin-bot-30 margin-top-15">Explore precision farming with
                parallel
                driving</h3>

            <p class="features-p light-weight">eFarmer navigation application is a GPS guidance system to be
                used on
                your Android smartphone and/or tablet. Checking the display while driving will enable you to
                perform
                field operations in parallel and evenly spaced lines. Thus to reduce overlaps and missed spots.
                In
                our system you are able to have the following navigation patterns:</p>

        </div>
        <div class="row">
            <div class="col-md-4">
                <h3 class="font-20 grey-37 normal-weight text-center">Straight AB</h3>
                <img class="img-features text-center" src="../wp-content/uploads/2015/11/tablet-abstraight.png"
                     alt=""/>

                <p class="features-p light-weight"><strong>Straight АВ</strong> is suitable for the regular
                    shaped
                    square or
                    rectangular fields, without “non operational spots”. In this case our system will
                    automatically
                    draw  parallel straight lines that you should follow on your field.</p>

            </div>
            <div class="col-md-4">
                <h3 class="font-20 grey-37 normal-weight text-center">AB Curve</h3>
                <img class="img-features text-center" src="../wp-content/uploads/2015/11/tablet-abcurve.png"
                     alt=""/>

                <p class="features-p light-weight"><strong>АВ curve</strong> is suitable for all field’s
                    shapes and particularly for fields with “non operational spots”. In this case you will make
                    the
                    first run along a curved/non-straight line, after the first turn the application will create
                    next
                    lines  parallel to the first run.</p>

            </div>
            <div class="col-md-4">
                <h3 class="font-20 grey-37 normal-weight text-center">Head Land</h3>
                <img class="img-features text-center" src="../wp-content/uploads/2015/11/tablet-headland.png"
                     alt=""/>

                <p class="features-p light-weight"><strong>Head Land</strong> is suitable for spraying operations.
                    In this case you will make the first run along a contour of the field,
                    set A and B points on one side, after driving around field
                    the application will calculate all lines for field and will calculate remaining area.</p>

            </div>
        </div>
        <div id="mobile" class="col-xs-12 margin-top-15">
            <p class="features-p light-weight text-center">The distinctive characteristic of eFarmer navigation
                system is that
                it  combines tractor guidance with farm management. You will not only make parallel lines, but
                your
                operation’s details such as area that you covered, type of operation, distance and time spent in
                the
                field, materials used will be automatically added to your field report and stored in the
                secured
                cloud.</p>

        </div>
    </div>

    <hr/>

</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="font-32 blue-text normal-weight text-up">MOBILE AND WEB</h2>

            <h3 class="font-22 grey-37 normal-weight margin-bot-30 margin-top-15">Synchronise data between all
                your
                devices</h3>

            <p class="features-p light-weight">With eFarmer you will be able to insert information about your
                operations directly in the field and work with this data later on from your office.</p>

        </div>
        <div class="col-md-4 margin-bot-30 ">
            <div class="same-height"><img class="text-center"
                                          src="../wp-content/uploads/2015/11/desktop-feature.png" alt=""/></div>
            <h3 class="font-20 grey-37 normal-weight text-center">Desktop</h3>

            <p class="features-p light-weight margin-top-15">Login on eFarmer website and see your records on a
                big screen in
                your office. You will be able to download, copy and share your data without any
                restrictions.</p>

        </div>
        <div class="col-md-4 margin-bot-30 ">
            <div class="same-height"><img class="text-center"
                                          src="../wp-content/uploads/2015/11/tablet-feature.png" alt=""/></div>
            <h3 class="font-20 grey-37 normal-weight text-center">Tablet</h3>

            <p class="features-p light-weight margin-top-15">Tablet is more practical to use for field farm
                tasks. The bigger
                screen and no phone calls will enable you to achieve better results during your work.</p>

        </div>
        <div class="col-md-4 margin-bot-30 ">
            <div class="same-height"><img class="text-center"
                                          src="../wp-content/uploads/2015/11/phone-feature.png" alt=""/></div>
            <h3 class="font-20 grey-37 normal-weight text-center">Smartphone</h3>

            <p class="features-p light-weight margin-top-15">You can use your Android smartphone to insert data
                into the
                system while working in the field with farm management and navigation systems.</p>

        </div>
        <div class="col-xs-12">
            <p class="features-p light-weight margin-bot-30"><strong>eFarmer is</strong> compatible with all
                Android
                smartphones
                and tablets. But the quality of work with the system may be impaired due to your device specific
                characteristics such as low GPS signal. To get best experience from the eFarmer,
                <a class="green-link"
                   href="https://efarmer.atlassian.net/wiki/display/SUPP/Field+Guidance+Compatible+Devices+List"
                   target="_blank">
                    check the list of recommended devices.</a></p>

            <p class="features-p light-weight margin-bot-30 ">You are able to work with the system even without
                cell
                service. Use
                “offline” mode of application and all information will be added automatically to your cloud once
                you’ll get a connection. Although while performing parallel driving it is not recommended to
                make
                phone calls from your device as it can lower the stability of GPS signal. To improve the
                accuracy of
                the system we advise you to purchase an external antenna. <a class="green-link"
                                                                             href="http://efarmer.mobi/tractor-guidance/">
                    Check our navigation
                    system
                    solutions.</a></p>

            <p class="features-p light-weight">Working with smartphone and tablet in the cabin will require
                certain
                peripherals, such as:</p>

            <ul class="features-p light-weight margin-bot-30 ">
                <li>Connector cable for consumer smartphones and tablets (USB-OTG cable).</li>
                <li>USB extension cable for GPS.</li>
                <li>In-vehicle USB power.</li>
                <li>Holder for device.</li>
            </ul>
            <p id="cloud" class="features-p light-weight">Check our <a class="green-link"
                                                                       href="https://efarmer.atlassian.net/wiki/display/UGE4/User+Guide+eFarmer+4.0"
                                                                       target="_blanK">Install &amp; Explore guide</a>
                for more details. Our support team will be happy to assist you with
                finding and purchasing right peripherals without any extra charges.</p>

        </div>
    </div>

    <hr/>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="font-32 blue-text normal-weight text-up">SECURE CLOUD</h2>

            <h3 class="font-22 grey-37 normal-weight margin-bot-30 margin-top-15">You own your data, and we keep
                it secure,
                private, and protected.</h3>

            <p id="team" class="features-p light-weight margin-bot-30 ">All your data is securely stored in the cloud and
                available at any time from any device. Our servers are located at
                <a class="green-link" href="https://www.hetzner.de/" target="_blank">Hetzner Online</a> in the
                Federal
                Republic of Germany.</p>

        </div>
        <div class="col-md-6"><img class="img-features" src="../wp-content/uploads/2015/11/cloud-feature.png"
                                   alt=""/></div>
    </div>

    <hr/>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-4"><img class="img-features"
                                   src="../wp-content/uploads/2015/11/management-feature.png" alt=""/></div>
        <div class="col-md-8">
            <h2 class="font-32 blue-text normal-weight text-up">TEAM MANAGEMENT</h2>

            <h3 class="font-22 grey-37 normal-weight margin-bot-30 margin-top-15">Task assigning and
                collaboration.</h3>

            <p class="features-p light-weight margin-bot-30 ">The goal of the team management functionality is
                to help farmer to manage its  employees and coordinate your work with neighbors and colleagues
                while performing collaborative tasks.</p>

            <p class="features-p light-weight">The information about work performed will be added
                automatically to your field record. The number of users in the system is unlimited. We are
                currently working on development of this functionality and inviting
                you to become our
                co-creator.</p>

        </div>
    </div>
    <div class="row margin-top-15">
        <div class="col-md-6">
            <h2 class="font-20 grey-37 normal-weight text-up text-center">YOU WILL BE ABLE
                TO:</h2>
            <ul class="features-p light-weight margin-bot-30 margin-top-15">
                <li>Choose the type of operation such as harvesting, seeding, fertilising, spraying, tilling,
                    scouting and add your own type of work.
                </li>
                <li>Choose the field where it should be done.</li>
                <li>Find the worker/neighbor from your contact list.</li>
                <li>Send him the task description in the application or via email.</li>
                <li>See the progress of the wok.</li>
                <li>Accept the work.</li>
                <li>Chat in the application.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2 class="font-20 grey-37 normal-weight text-up text-center">YOUR WORKER WILL BE ABLE
                TO:</h2>
            <ul class="features-p light-weight margin-bot-30 margin-top-15">
                <li>Accept the task.</li>
                <li>Create report about work performed and send it to you.</li>
                <li>Send you an invoice.</li>
            </ul>
            <p class="font-little-wide light-weight main-color" style="margin-left: 30px;">We are  giving <span
                    class="normal-weight"> FREE lifetime access to this feature to the first 100 farmers </span>
                who will support us  in development of this functionality. Become our beta-tester, sign up here:
            </p>
            <button id="analytics" class="btn btn-signup-beta" type="button" data-toggle="modal"
                    data-target="#signUpBetaTeamManagement">
                SIGN UP FOR BETA
            </button>

        </div>
    </div>

    <hr/>

</div>
<!-- START sign up beta modal TEAM MANAGEMENT-->
<div id="signUpBetaTeamManagement" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" style="margin-top: 200px;">
        <div class="modal-content row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="price-block free-block farm features">
                    <h4 class="text-center bold-weight font-20 white-text shadow">Team management</h4>

                    <p class="text-center note-text">coming in 2016</p>

                    <p class="text-center price-label bold-weight shadow farm">SOON</p>

                    <div class="padding-both-30 font-16">
                        <ul>
                            <li>Includes everything in Record Kepping</li>
                            <li>Team management functionality</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 modal-features">
                <div class="row">
                    <p class="font-middle grey-37 margin-both-20">Subscribe for getting info about releases of
                        Team management module</p>

                    <p class="simple-p margin-both-20">The goal of this functionality is to help farmer to
                        manage its employees and coordinate
                        your work with neighbors and colleagues while performing collaborative tasks.</p>
                </div>
                <div class="sign-up-form">
                    [/raw][contact-form-7 id="4823" title="Subscribe to news about team management"][raw]
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END sign up beta modal TEAM MANAGEMENT-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="font-32 blue-text normal-weight text-up">FARM DATA ANALYTICS</h2>

            <h3 class="font-22 grey-37 normal-weight margin-bot-30 margin-top-15">Data driven approach in farm
                management.</h3>

            <p class="features-p light-weight">Don’t rely only on your gut feelings – start use
                hard data in making decisions. (Get competitive advantage by using data in managing your farm
                business).</p>

            <p class="features-p light-weight margin-bot-30 ">Input your activities, materials, fields and,
                basically, any important information. eFarmer will
                save it in the cloud, analyse the data and create a number of reports, such as:</p>

            <ul class="features-p light-weight margin-bot-30 ">
                <li>Field work summary report. See all your field operations and how many hectares were
                    covered.
                </li>
                <li>Material summary report. History of all material inputs for a given period, per operation,
                    field, input quantity.
                </li>
                <li>Plan-fact analysis  to see the difference.</li>
                <li>Vehicle summary report. See how much time you have used your tractor per each operation.
                </li>
                <li>Create your own templates of reports.</li>
            </ul>
            <p class="features-p light-weight margin-bot-30 ">Use this data for Government compliance reports.
                The more information you insert, the more eFramer functionalities you use - the better results
                you will get!</p>

        </div>
        <div class="col-md-6"><img class="img-features" src="../wp-content/uploads/2015/11/maps-feature.png"
                                   alt=""/>

            <p class="font-little-wide light-weight main-color" style="margin-left: 30px;">We are  giving <span
                    class="normal-weight"> FREE lifetime access to this feature to the first 100 farmers </span>
                who will support us  in development of this functionality. Become our beta-tester, sign up here:
            </p>
            <button id="fertiliser" class="btn btn-signup-beta" type="button" data-toggle="modal"
                    data-target="#signUpBetaFarmData">
                SIGN UP FOR BETA
            </button>

        </div>
    </div>

    <hr/>

</div>
<!-- START sign up beta modal Farm data analytics-->
<div id="signUpBetaFarmData" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" style="margin-top: 200px;">
        <div class="modal-content row">
            <div class="col-md-4">
                <div class="price-block high-price-block farm features">
                    <h4 class="text-center bold-weight font-20 white-text shadow">Farm data analytics</h4>

                    <p class="text-center note-text">coming in 2016</p>

                    <p class="text-center price-label bold-weight shadow farm">SOON</p>

                    <div class="padding-both-30 font-16">
                        <ul>
                            <li>Includes everything in Record Kepping</li>
                            <li>Farm data analytics</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 modal-features">
                <div class="row">
                    <p class="font-middle grey-37 margin-both-20">Subscribe for getting info about releases of
                        Farm data analytics module</p>

                    <p class="simple-p margin-both-20">Input your activities, materials, fields and, basically,
                        any important information. eFarmer will save it in the cloud, analyze the data and
                        create a number of reports that can be used for Government compliance.</p>
                </div>

                <div class="sign-up-form">
                    [/raw][contact-form-7 id="4827" title="Subscribe to news about farm data analytics"][raw]
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END sign up beta modal Farm data analytics-->
<div class="container padding-bot-small">
    <div class="row ">
        <div class="col-md-6"><img class="img-features"
                                   src="../wp-content/uploads/2015/11/fertilisercalc-feature.png" alt=""/>

            <p class="font-little-wide light-weight main-color" style="margin-left: 30px;">We are  giving <span
                    class="normal-weight"> FREE lifetime access to this feature to the first 100 farmers </span>
                who will support us  in development of this functionality. Become our beta-tester, sign up here:
            </p>
            <button class="btn btn-signup-beta" type="button" data-toggle="modal"
                    data-target="#signUpBetaFertiliser">
                SIGN UP FOR BETA
            </button>

        </div>
        <div class="col-md-6">
            <h2 class="font-32 blue-text normal-weight text-up">FERTILISER BALANCE</h2>

            <h3 class="font-22 grey-37 normal-weight margin-bot-30 margin-top-15">Control your chemicals.</h3>

            <p class="features-p light-weight margin-bot-30 ">eFarmer will allow you to manage fertilisers
                easily with a built-in calculator. To start to work with the system you will have to input
                information about existing chemicals level and type of crops on your fields. This functionality
                will enable you to:</p>

            <ul class="features-p light-weight margin-bot-30 ">
                <li>choose the type of fertilizers materials from the list, and add your own
                    items;
                </li>
                <li>calculate the amount of chemicals needed for particular field according to the norms ;</li>
                <li>add automatically the information about performed work to your field report;</li>
                <li>create an alarm when the amount of chemicals is  close to the critical  level.</li>
                <li>use this data for Goverment compliance reports.</li>
            </ul>
        </div>
    </div>
</div>
<div id="signUpBetaFertiliser" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" style="margin-top: 200px;">
        <div class="modal-content row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="price-block middle-price-block farm features">
                    <h4 class="text-center bold-weight font-20 white-text shadow">Fertiliser balance</h4>

                    <p class="text-center note-text">coming in 2016</p>

                    <p class="text-center price-label bold-weight shadow farm">SOON</p>

                    <div class="padding-both-30 font-16">
                        <ul>
                            <li>Includes everything in Record Kepping</li>
                            <li>Fertiliser balance functionality</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 modal-features">
                <div class="row">
                    <p class="font-middle grey-37 margin-both-20">Subscribe for getting info about releases of
                        Fertiliser balance module</p>

                    <p class="simple-p margin-both-20">eFarmer will allow you to manage fertilizers easily with
                        a built-in calculator based on soil chemical condition of the field.</p>
                </div>
                <div class="sign-up-form">
                    [/raw][contact-form-7 id="4828" title="Subscribe to news about fertiliser balance"][raw]
                </div>
            </div>
        </div>
    </div>
</div>
[/raw]