[raw]
<div class="header-bg">
    <div class="container ">
        <div class=" row">

            <div class="col-md-5 col-sm-6" style="padding-top:50px">
                <h1 class="white-text normal-weight font-large shadow-hard">We are eFarmer</h1>

                <h3 class="white-text light-weight font-middle">We offer tractor GPS guidance solution for your
                    smartphone.</h3>

                <p class="white-text light-weight font-little padding-both-30">This mobile app visually assists
                    you in making the optimal passes on the field and documents your work. Now you can be more
                    efficient and professional while working in the tractor.</p>

                <div id="what" class="row" style="padding-bottom:80px">
                    <div class="col-sm-5 col-xs-6">
                        <a href="https://play.google.com/store/apps/details?id=com.kmware.efarmer"
                           target="_blank">
                            <button type="button" class="btn btn-trial" aria-label="Left Align">
                                FREE TRIAL
                            </button>
                        </a>
                    </div>
                    <div class="col-sm-5 col-xs-6">
                        <a href="http://efarmer.mobi/tractor-guidance/#prices">
                            <button type="button" class="btn btn-buy" aria-label="Left Align">
                                buy now
                            </button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="row green-bg  ">
    <div class="container arrow_box">
        <div class="row">
            <div class="col-sm-2 col-xs-12 text-center">
                <div class="white-circle margin-both-30">
                    <i class="material-icons green-icon ">navigation</i>
                </div>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <h2 class="text-center white-text font-32 normal-weight margin-both-30"
                            style="padding-top: 8px;"><span
                                class="underline"><a class="white-link" style="text-decoration: none;" href="#what"> What is eFarmer? </a></span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-xs-12 text-center">
                <div class="white-circle margin-both-30">
                    <i class="material-icons green-icon">folder</i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container margin-bot-30 ">
    <div class="row padding-both-30">
        <div class="col-sm-4">
            <h3 class="font-32 normal-weight opposite-text">Tractor guidance</h3>
            <p class="main-color font-little-wide light-weight"> eFarmer navigation solutions will enable you to combine benefits from field records and tractor guidance. That will help to improve yield of your farm by saving materials, working hours and machine costs. </p>
        </div>
        <div class="col-sm-4">
            <span class="vertical-divider-20"></span>

            <div class="plus-block">
                <div class="grey-plus">
                    <i class="material-icons grey-plus-color">add</i>
                </div>

                <p class="main-color font-little text-center">Free field record keeping system is at the heart
                    of our
                    service. With your smartphone you can easily capture and document all field activities,
                    build better records and make data-driven decisions. </p>
            </div>

            <span class="vertical-divider-40"></span>


        </div>
        <div class="col-sm-4">
            <h3 class="font-32 normal-weight green-text">Farm management</h3>

            <p class="main-color font-little-wide light-weight">You can further increase the efficiency of your farm
                business by using
                other paid eFarmer farm management solutions such as  team management, fertiliser calculator and
                farm data analysis.

            </p>
        </div>
    </div>
    <hr>
    <p class="text-center font-22 col-sm-10 col-sm-offset-1 main-color light-weight">
        Our navigation solutions help you to spend less on materials while increasing your yield with better driving
    </p>
</div>


<div class="all-devices-bg margin-bot-30">
    <div class="container">
        <div class="row">
            <h3 class="font-32 normal-weight main-text text-center grey-37" style="margin: 30px;">For all your
                devices</h3>

            <div class="col-md-3 col-sm-4 col-xs-11 col-xs-offset-1 col-sm-offset-0 padding-both-30">
                <p class="font-little dark-grey-color light-weight"><i
                        class="material-icons font-35">desktop_windows</i>
                    <span class="list-device">PC or MAC</span></p>

                <p class="font-little dark-grey-color light-weight">

                    <img src="http://efarmer.mobi/wp-content/themes/mx-child/fonts/iconfont/tabletandphone.svg"
                         class="svg icon-calc" id="tablet"/>
                    <span class="list-device" style="left: 7px">Android OS</span>
                </p>

                <p class="font-little dark-grey-color light-weight half-opacity">

                    <i class="material-icons font-35">phone_iphone</i>
                    <span class="list-device">iOS coming soon</span>
                </p>
            </div>

            <div class="col-md-9 col-sm-8 col-xs-12">
                <img src="wp-content/uploads/2015/10/alldevices-pic.png" alt="">
            </div>


        </div>
    </div>
</div>

<div class="container margin-bottom-big">
    <div class="row">
        <h3 class="font-32 normal-weight main-text text-center grey-37">Main features</h3>

        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <div class="features-block text-center">
                <div class="green-circle">
                    <i class="material-icons white-icon">map</i>
                </div>
                <h4 class="normal-weight grey-37 font-20">Maps</h4>

                <p class="light-weight grey-37">Create and manage field boundaries. Store information and view the
                    progress of
                    your work on multiple fields. </p>
                <a href="http://efarmer.mobi/features/#maps" class="opposite-text">Learn more </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <div class="features-block text-center">
                <div class="green-circle">
                    <i class="material-icons white-icon">library_books</i>
                </div>
                <h4 class="normal-weight grey-37 font-20">Field records</h4>

                <p class="light-weight grey-37">Make records of your fieldwork directly in the field. Save
                    time on paperwork. Store and analyse information about your work. Export, share & print
                    field reports. </p>
                <a href="http://efarmer.mobi/features/#records" class="opposite-text">Learn more </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <div class="features-block text-center">
                <div class="green-circle">
                    <i class="material-icons white-icon">navigation</i>
                </div>
                <h4 class="normal-weight grey-37 font-20">Field guidance</h4>

                <p class="light-weight grey-37">Checking the display while driving will enable you to perform
                    field operations in parallel and evenly spaced lines. Thus reducing overlaps and missed
                    spots. </p>
                <a href="http://efarmer.mobi/features/#guidance" class="opposite-text">Learn more </a>
            </div>
        </div>


        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <div class="features-block text-center">
                <div class="green-circle">
                    <i class="material-icons white-icon">devices</i>
                </div>
                <h4 class="normal-weight grey-37 font-20">Mobile and web </h4>

                <p class="light-weight grey-37">Synchronize data between all your devices. Access your data conveniently from anywhere</p>
                <a href="http://efarmer.mobi/features/#mobile" class="opposite-text">Learn more </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <div class="features-block text-center">
                <div class="green-circle">
                    <i class="material-icons white-icon">people</i>
                </div>
                <h4 class="normal-weight grey-37 font-20">Team management </h4>

                <p class="light-weight grey-37"> eFarmer will help you to manage your employees and coordinate
                    with your neighbors and colleagues while performing collaborative tasks. </p>
                <a href="http://efarmer.mobi/features/#team" class="opposite-text">Learn more </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <div class="features-block text-center">
                <div class="green-circle">
                    <i class="material-icons white-icon">iso</i>
                </div>
                <h4 class="normal-weight grey-37 font-20">Fertiliser balance</h4>

                <p class="light-weight grey-37">eFarmer will allow you to manage fertilisers easily with a
                    built-in calculator. </p>
                <a href="http://efarmer.mobi/features/#fertiliser" class="opposite-text">Learn more </a>
            </div>
        </div>


        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <div class="features-block text-center">
                <div class="green-circle">
                    <i class="material-icons white-icon">settings_input_antenna</i>
                </div>
                <h4 class="normal-weight grey-37 font-20">External receiver</h4>

                <p class="light-weight grey-37">Reduce the width of overlaps down to 20 cm with high
                    positioning accuracy with our GPS receiver. </p>
                <a href="http://efarmer.mobi/tractor-guidance/#receiver" class="opposite-text">Learn more </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <div class="features-block text-center">
                <div class="green-circle">
                    <i class="material-icons white-icon">trending_up</i>
                </div>
                <h4 class="normal-weight grey-37 font-20">Farm data analytics </h4>

                <p class="light-weight grey-37"> Don’t rely only on your gut feelings! Start using hard data
                    in making decisions. </p>
                <a href="http://efarmer.mobi/features/#analytics" class="opposite-text">Learn more </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 ">
            <div class="features-block text-center">
                <div class="green-circle">
                    <i class="material-icons white-icon">security</i>
                </div>
                <h4 class="normal-weight grey-37 font-20">Secure cloud</h4>

                <p class="light-weight grey-37">All your data is securely saved in the cloud. </p>
                <a href="http://efarmer.mobi/features/#cloud" class="opposite-text">Learn more </a>
            </div>
        </div>


    </div>
</div>

<div class="best-price">
    <h3 class="text-center white-text font-32 normal-weight padding-both-30 shadow"> Best price / quality
        solution
        for
        small and medium farm business </h3>

    <div class="row text-center">
        <div class="euro-pic"></div>
        <div class="plus-pic"></div>
        <div class="like-pic"></div>

    </div>
    <div style="height: 400px;"></div>

</div>
<div class="row green-bg">
    <div class="container padding-bot-small arrow_box">
        <div class="row">

            <div class="col-sm-12 col-xs-10 col-sm-offset-0 col-xs-offset-1">
                <h2 class="text-center white-text font-32 normal-weight"><span
                        class="underline">Our solutions </span>
                </h2>

                <p class="text-center white-text font-22 light-weight">Flexible offers for your specific
                    needs </p>
            </div>
        </div>
    </div>
</div>

<div class="price-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="price-block free-block">
                    <h4 class="text-center bold-weight font-20 white-text shadow"> Record keeping </h4>

                    <p class="text-center price-label bold-weight shadow">€ 0 </p>

                    <p class="text-center note-text"> Free forever </p>

                    <div class="padding-both-30 font-16">
                        <p> This package includes:</p>
                        <ul>
                            <li> Maps</li>
                            <li> Field records</li>
                            <li> Mobile and Web app</li>
                            <li> Secure cloud</li>
                        </ul>
                    </div>
                    <div class="abs-pos">
                        <a href="https://play.google.com/store/apps/details?id=com.kmware.efarmer"
                           target="_blank">
                            <button class="btn btn-action-select"
                                    type="submit">
                                try now
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="price-block middle-price-block">
                    <h4 class="text-center bold-weight font-20 white-text shadow"> Navigation</h4>

                    <p class="text-center price-label bold-weight shadow">€ 249 </p>

                    <p class="text-center note-text"> One off payment </p>

                    <div class="padding-both-30 font-16">
                        <p> This package includes:</p>
                        <ul>
                            <li> Everything in <b> Record keeping </b></li>
                            <li> Tractor guidance</li>
                            <li><a class="white-link" href="http://efarmer.mobi/shop/navi-20-cm/"> External receiver </a> (optional)</li>
                        </ul>
                    </div>
                    <div class="abs-pos">
                        <a href="http://efarmer.mobi/shop/">
                            <button class="btn btn-action-select"
                                    type="submit">
                                buy now
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="price-block high-price-block">
                    <h4 class="text-center bold-weight font-20 white-text shadow"> Farm management </h4>

                    <p class="text-center price-label bold-weight shadow"
                       style="color: rgba(255, 255, 255, 0.75)"> SOON</p>

                    <p class="text-center note-text"> coming in 2016 </p>

                    <div class="padding-both-30 font-16">
                        <p> This package includes:</p>
                        <ul>
                            <li> Everything in <b>Record keeping </b></li>
                            <li> Team management</li>
                            <li> Fertiliser balance</li>
                            <li> Analytics</li>
                        </ul>
                    </div>
                    <div class="abs-pos">
                        <button class="btn btn-action-select"
                                type="submit" data-toggle="modal" data-target="#contactUs"> contact us
                        </button>
                    </div>

                </div>
            </div>

            <!--                    START contact us modal-->
            <div class="modal fade" tabindex="-1" id="contactUs" role="dialog">
                <div class="modal-dialog modal-md" style="margin-top: 200px">
                    <div class="modal-content row">
                        <div class="col-xs-12">
                            <div class="row green-bg contact">
                                <div class="">
                                    <div class="row">
                                        <h2 class="text-center white-text font-22 normal-weight">Contact us
                                        </h2>
                                    </div>
                                </div>
                            </div>

                            <div class="contacts-block">
                                <p class="font-little dark-grey-color light-weight"><i
                                        class="fa fa-envelope"></i> info@efarmer.mobi </p>

                                <p class="font-little dark-grey-color light-weight"><i
                                        class="fa fa-skype"></i>
                                    eFarmer.Support</p>

                                <p class="font-little dark-grey-color light-weight"><i
                                        class="fa fa-phone"></i>
                                    +31 713 020355</p>
                            </div>
                            <a href="mailto:info@efarmer.mobi?Subject=Support">
                                <button class="btn btn-action-select contact"
                                        type="submit" data-toggle="modal" data-target="#contactUs">
                                    Send e-mail
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <!--                    END contact us modal-->

            </div>
        </div>
    </div>
</div>
<div class="video-wrapper margin-bot-30" id="video">

    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/B-zbylzQm1s"
            frameborder="0"
            allowfullscreen></iframe>
</div>
<div class="price-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="font-32 normal-weight main-text text-center grey-37">Our partners:</h3>
            </div>
            <div class="col-md-4 margin-bot-30">
                <div class="same-height">
                    <a href="http://agtech.lv" title="AgTech" target="_blank" rel="home">
                        <img class="text-center" src="http://efarmer.mobi/wp-content/uploads/2015/11/partner-agtech.png" alt=""/>
                    </a>
                </div>
            </div>
            <div class="col-md-4 margin-bot-30 ">
                <div class="same-height">
                    <a href="http://www.kvazar-micro.hu" title="Kvazar hu" target="_blank" rel="home">
                        <img class="text-center" src="http://efarmer.mobi/wp-content/uploads/2015/11/partner-kvazar-hu-logo.png" alt=""/>
                    </a>
                </div>
            </div>
            <div class="col-md-4 margin-bot-30 ">
                <div class="same-height">
                    <a href="http://www.agri-precision.cz" title="Agri-Precision" target="_blank" rel="home">
                        <img class="text-center" src="http://efarmer.mobi/wp-content/uploads/2015/11/partner-agri-precision.png" alt=""/>
                    </a>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-md-4 margin-bot-30 ">
                    <div class="same-height">
                        <a href="http://borsch.org.ua" title="Borsch" target="_blank" rel="home">
                            <img class="text-center" src="http://efarmer.mobi/wp-content/uploads/2015/11/partner-borsch-logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 margin-bot-30 ">
                    <div class="same-height">
                        <a href="http://www.esa-bic.nl" title="ESA BIC Noordwijk" target="_blank" rel="home">
                            <img class="text-center" src="http://efarmer.mobi/wp-content/uploads/2015/11/partner-ESA-BIC-Noordwijk.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 margin-bot-30 ">
                    <div class="same-height">
                        <a href="http://www.kmcore.com" title="KM Core" target="_blank" rel="home">
                            <img class="text-center" src="http://efarmer.mobi/wp-content/uploads/2015/11/partner-kmcore-logo.png" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="continer">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="font-large normal-weight"><span
                        class="underline-dark"> <span id="numbers">30,739</span> farmers</span></h3>

                <p class="dark-grey-text font-little"> have improved their work with eFarmer </p>
            </div>
        </div>
        <div id="carousel-slider" class="carousel slide" data - ride="carousel">

            <!--Wrapper for slides-->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <img src="wp-content/uploads/2015/11/andre.jpg" class="image-people" alt="">
                                <p class="review">“I have been  using the GPS receiver for a few weeks and
                                    now I
                                    can’t do
                                    without
                                    it. The eFarmer Navi is very helpful when fertilizing grasslands. Both
                                    in
                                    daylight, and even in the dark, you can easily find routes and record
                                    the
                                    finished area.”</p>

                                <p class="review">
                                    <b> André Hornberg </b>, Germany
                                </p>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <img src="wp-content/uploads/2015/11/visnyei.jpg" class="image-people" alt="">
                                <p class="review">“Compared to other field guidance solutions, eFarmer Navi
                                    makes it much easier to follow the tracks. The application itself is
                                    very easy to learn and use. A big advantage is that the Android tablet may
                                    be
                                    used for other purposes as well.”

                                </p>

                                <p class="review">
                                    <b> Visnyei Tamás </b>, Hungary
                                </p>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <img src="wp-content/uploads/2015/11/vadasz1.jpg" class="image-people" alt="">
                                <p class="review">“I have been using the eFarmer app since autumn 2014 and have started
                                    using the eFarmer Navi a few months ago. It is great being able to have up-to-date
                                    data of my works stored in one place. We also use the GPS receiver for
                                    spraying and fertilizing jobs.”
                                </p>

                                <p class="review">
                                    <b> Vadász János </b>, Hungary
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <img src="http://efarmer.mobi/de/wp-content/uploads/sites/2/2015/12/kumpf.jpg" class="image-people" alt="">

                                <p class="review">“I have been using the eFarmer Navi app with external antenna for about 2 months now. It is a perfect fit for any tractor and is very easy to install. Costs savings for fertilising can be noticed very soon. Also the quality of fertiliser spreading increases essentially.”</p>

                                <p class="review">
                                    <b> Bernhard Kumpf </b>, Austria
                                </p>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <img src="http://efarmer.mobi/de/wp-content/uploads/sites/2/2015/12/ulz1.jpg" class="image-people" alt="">
                                <p class="review">“I've been searching for some time for an inexpensive and precise GPS system and I have finally found one. The eFarmer GPS system looked convincing from the very beginning. I was surprised to see is provide quite accurate guidance even on a slightly hilly terrain.”

                                </p>

                                <p class="review">
                                    <b> Siegfried Ulz </b>, Austria
                                </p>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <img src="http://efarmer.mobi/de/wp-content/uploads/sites/2/2015/12/avatar_placeholder.jpg" class="image-people" alt="">
                                <p class="review">“I have this guidance assistance app in use for some time now and I am very happy with it. It is worth to mention that the eFarmer staff is very courteous and knowledgable. They are also quick to react on suggestions and improvements proposals.”
                                </p>

                                <p class="review">
                                    <b> Stefan Detter </b>, Austria
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <img src="http://efarmer.mobi/de/wp-content/uploads/sites/2/2015/12/avatar_placeholder.jpg" class="image-people" alt="">
                                <p class="review">“I've already tried eFarmer guidance in field conditions and I have to say that you've done a great job with this app. I used it with tractor Case Magnum 280 and cultivator Horsch Tiger MT with working width 4 m. It is completly functional solution with added value in field records which are amazing too.”
                                </p>

                                <p class="review">
                                    <b> Miroslav Dihel </b>, Czech Republic
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Controls -->
                <a class="left carousel-control" href="#carousel-slider" role="button" data-slide="prev">
                    <i class="material-icons controls" aria-hidden="true"> keyboard_arrow_left</i>
                    <span class="sr-only"> Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-slider" role="button" data-slide="next">
                    <i class="material-icons controls" aria-hidden="true"> keyboard_arrow_right</i>
                    <span class="sr-only"> Next</span>
                </a>

            </div>
        </div>
    </div>
[/raw]