[raw]

<div id="main" class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="font-32 blue-text normal-weight text-up">SAVINGS CALCULATOR </h2>

                <h3 class="font-22 grey-37 normal-weight margin-bot-30 margin-top-15">See how much can you save with eFarmer GPS guidance?</h3>


                <div class="row" id="resultBlock" style="display: none;">
                    <div class="col-xs-3 ">
                        <div class="calc-price">
                            <p>Annual savings</p>
                            <h1><div id="annualSaving"></div></h1>
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <div class="calc-price">
                            <p>Annual savings</p>
                            <h1><div id="annualSavingPercent"></div></h1>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="calc-price">
                            <p>Payback period</p>
                            <h1><div id="payBackPeriod"></div></h1>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="calc-price result">
                            <h1><span class="small-text"> from</span> € 1249</h1>
                            <a href="http://efarmer.mobi/shop/navi-20-cm/" class="calc-buy">BUY IY NOW</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <p class="features-p light-weight margin-bot-30 "><strong>Step 1.</strong> Fill in area and costs for main field operation for your crops.</p>
                        <table class="calc">
                            <tr>
                                <th class="crop-name">Crop name</th>
                                <th class="crop-number">Area (ha)</th>
                                <th class="crop-number">Cost (EUR/ha)</th>
                            </tr>
                            <tr>
                                <td class="crop-name table-border">
                                    <input placeholder="Enter crop name" value="Grass"/>
                                </td>
                                <td class="crop-number table-border">
                                    <input placeholder="0..9000" type="number" class="areaInput" onchange="calcArea()" min="0" max="9000000"/>
                                </td>
                                <td class="crop-number table-border">
                                    <input placeholder="0..900" type="number" class="costInput" onchange="calcCost()" min="0" max="900000"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="crop-name table-border">
                                    <input placeholder="Enter crop name" value="Corn"/>
                                </td>
                                <td class="crop-number table-border">
                                    <input placeholder="0..9000" type="number" class="areaInput" onchange="calcArea()" min="0" max="9000000"/>
                                </td>
                                <td class="crop-number table-border">
                                    <input placeholder="0..900" type="number" class="costInput" onchange="calcCost()" min="0" max="900000"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="crop-name table-border">
                                    <input placeholder="Enter crop name" value="Wheat"/>
                                </td>
                                <td class="crop-number table-border">
                                    <input placeholder="0..9000" type="number" class="areaInput" onchange="calcArea()" min="0" max="9000000"/>
                                </td>
                                <td class="crop-number table-border">
                                    <input placeholder="0..900" type="number" class="costInput" onchange="calcCost()" min="0" max="900000"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="crop-name table-border">
                                    <input placeholder="Enter crop name" value="Rape"/>
                                </td>
                                <td class="crop-number table-border">
                                    <input placeholder="0..9000" type="number" class="areaInput" onchange="calcArea()" min="0" max="9000000"/>
                                </td>
                                <td class="crop-number table-border">
                                    <input placeholder="0..900" type="number" class="costInput" onchange="calcCost()" min="0" max="900000"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="crop-name table-border">
                                    <p class="bold-weight">Total:</p>
                                <td class="crop-number table-border">
                                    <p id="area" class="bold-weight">0</p>
                                </td>
                                <td class="crop-number table-border">
                                    <p id="cost" class="bold-weight"></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <p class="features-p light-weight margin-bot-30 "><strong>Step 2.</strong> Fill in implement parameters and your current overlaps with manual driving.</p>
                        <table class="calc">
                            <tr>
                                <th class="crop-name">Operation name</th>
                                <th class="crop-number">Width (m)</th>
                                <th class="crop-number">Overlaps (cm)</th>
                            </tr>
                            <tr>
                                <td class="crop-name table-border">
                                    <p>Seeding</p>
                                </td>
                                <td class="crop-number table-border">
                                    <input placeholder="0..30m" class="widthInput" min="0" max="30"/>
                                </td>
                                <td class="crop-number table-border">
                                    <input placeholder="21cm..300cm" class="overlapInput" min="21" max="300"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="crop-name table-border">
                                    <p>Spraying</p>
                                </td>
                                <td class="crop-number table-border">
                                    <input placeholder="0..30m" class="widthInput" min="0" max="30"/>
                                </td>
                                <td class="crop-number table-border">
                                    <input placeholder="21cm..300cm" class="overlapInput"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="crop-name table-border">
                                    <p>Spreading</p>
                                </td>
                                <td class="crop-number table-border">
                                    <input placeholder="0..30m" class="widthInput"/>
                                </td>
                                <td class="crop-number table-border">
                                    <input placeholder="21cm..300cm" class="overlapInput"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="crop-name table-border">
                                    <p>Tilling</p>
                                </td>
                                <td class="crop-number table-border">
                                    <input placeholder="0..30m" class="widthInput"/>
                                </td>
                                <td class="crop-number table-border">
                                    <input placeholder="21cm..300cm" class="overlapInput"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="crop-name table-border">
                                    <p>Disking</p>
                                </td>
                                <td class="crop-number table-border">
                                    <input placeholder="0..30m" class="widthInput"/>
                                </td>
                                <td class="crop-number table-border">
                                    <input placeholder="21cm..300cm" class="overlapInput"/>
                                </td>
                            </tr>
                        </table>


                    </div>

                </div>


                <div class="row">
                    <a class="col-xs-12 blue-btn text-center margin-both-30" type="submit" href='#' onclick="showResult()">
                        CALCULATE YOUR SAVINGS
                    </a>
                </div>


                <div class="row">
                    <p class="dark-grey-color small-text-p">
                        * Calculator model based on Landwirtschaftszentrum Haus Düsse Dr. Harald Lopotz Landwirtschaftskammer Nordrhein-Westfalen
                        <a href="https://www.landwirtschaftskammer.de/duesse/rueckblick/pdf/2013-06-19-rentabilitaet-pf.pdf" target="_blank" class="green-link">
                            here</a>.
                    </p>
                </div>
            </div>

        </div>
    </div>

</div>


<script type="text/javascript">

    function calcArea () {
        var area=0;
        var areaList = document.querySelectorAll('input.areaInput');
        var areaShow = document.getElementById('area').innerHTML;

        for (var i=0; i < areaList.length; i++) {
            if (areaList[i].value && +(areaList[i].value)!== NaN) {
                area += +areaList[i].value;
            }
        }
        document.getElementById('area').innerHTML = area;
        return cost;
    };

    function calcCost () {
        var cost=0;
        var costNoZeroValues=0;
        var costList = document.querySelectorAll('input.costInput');
        var costShow = document.getElementById('cost').innerHTML;

        for (var i=0; i < costList.length; i++) {
            if (costList[i].value && +(costList[i].value)!== NaN && costList[i].value > 0) {
                cost += +costList[i].value;
                costNoZeroValues++;
            }
        }
        if (cost>0) {
            document.getElementById('cost').innerHTML = Math.round(cost/costNoZeroValues,0);
        }
        return cost;
    };

    function calcCostOfArea (areaValue) {
        var cost=0;
        var costList = document.querySelectorAll('input.costInput');
        var costShow = document.getElementById('cost').innerHTML;

        for (var i=0; i < costList.length; i++) {
            if (costList[i].value && +(costList[i].value)!== NaN) {
                cost += +costList[i].value*areaValue;
            }
        }
        return cost;
    };



    function calcCostSaving () {
        var annualSaving=1200;
        var annualSavingPercent=11;
        var payBackPeriod=2;

        var overlap21cm = 20;
        var areaOverlapGeneric = 0;
        var areaOverlap21cm = 0;

        var cost = 0;
        var costTotal=0;
        var costOverlapGeneric=0;
        var costOverlap20=0;

        var priceOf21cm=1400;

        var area=0;
        var areaLenght=0;
        var areaList = document.querySelectorAll('input.areaInput');
        var implementWidthList = document.querySelectorAll('input.widthInput');
        var implementOverlapList = document.querySelectorAll('input.overlapInput');

        for (var i=0; i < areaList.length; i++) {
            if (areaList[i].value && +(areaList[i].value) !== NaN) {
                for (var j = 0; j < implementWidthList.length; j++) {
                    if (implementWidthList[j].value && +(implementWidthList[j].value) !== NaN && implementWidthList[j].value>0 ) {
                        areaLenght = areaList[i].value / implementWidthList[j].value;
                        areaOverlapGeneric = areaLenght * implementOverlapList[j].value/100;
                        areaOverlap21cm = areaLenght * overlap21cm/100;
                        costOverlapGeneric = calcCostOfArea(areaOverlapGeneric);
                        costOverlap20 = calcCostOfArea(areaOverlap21cm);
                    }

                }
                area += +areaList[i].value;
                costTotal += +calcCostOfArea(areaList[i].value);
            }
        }

        if(costOverlapGeneric>costOverlap20) {
            annualSaving = costOverlapGeneric - costOverlap20;
        }
        if (costTotal>0) {
            annualSavingPercent = annualSaving / costTotal * 100;
        }

        if (annualSaving>0) {
            payBackPeriod = priceOf21cm / annualSaving;
        }

        document.getElementById('annualSaving').innerHTML = "€ "+Math.round(annualSaving);
        document.getElementById('annualSavingPercent').innerHTML = Math.round(annualSavingPercent*100)/100 +"%";
        document.getElementById('payBackPeriod').innerHTML = Math.round(payBackPeriod*100)/100;

    };
    function showResult() {
        calcCostSaving();
        var visability = document.getElementById("resultBlock").style.display;
        document.getElementById("resultBlock").style.display = 'block';
    };

</script>
[/raw]